@import "tailwindcss";
@import "tw-animate-css";
@import "./assets/styles/colors.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-instrument-sans: var(--font-instrument-sans);
  --font-outfit: var(--font-outfit);
  --radius-nova-30: 30px;
}

:root {
  height: 100%;
  width: 100%;
}
.dark {
}

@layer base {
  * {
    /* @apply border-border outline-ring/50; */
  }
  body {
    @apply font-outfit!;
  }
}

.form-label {
  @apply font-medium text-nova-gray-50 text-base font-outfit;
}
